{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active" data-toggle="modal" data-target="#img1">
                        <img class="img-responsive" src="{% static 'img/DSC_0833.jpg' %}" alt="">
                    </div>
                    <div class="item" data-toggle="modal" data-target="#img2">
                        <img class="img-responsive" src="{% static 'img/DSC_0765.jpg' %}" alt="">
                    </div>
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <!-- Image 1 Modal -->
    <div class="modal fade" id="img1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="img-responsive img-rounded" src="{% static 'img/DSC_0833.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- Image 2 Modal -->
    <div class="modal fade" id="img2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="img-responsive img-rounded" src="{% static 'img/DSC_0765.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock %}